version: '3.8'
services:
  backend:
    build: ./backend
    image: axolotlawaits/hub:backend
    network_mode: "host"  # Доступ к хостовой сети для сканирования принтеров и работы с сетью
    # Примечание: host network mode необходим для работы инструмента сканирования документов,
    # так как он должен иметь доступ к сетевому стеку хоста Ubuntu для обнаружения устройств
    environment:
      - NODE_ENV=production
    volumes:
      - ./backend/uploads:/app/uploads  # Для сохранения файлов
  frontend:
    build: ./frontend
    image: axolotlawaits/hub:frontend
    ports:
      - "80:80"