#search-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#search-info {
  display: flex;
  flex-direction: column;
}

.search-info-text {
  font-size: 14px;
  font-weight: 200;
  color: var(--font-aux);
}

.search-branches {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* branches */

.branch-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.branch-card {
  background-color: var(--layer);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 500px;
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: var(--soft-shadow);
}

.branch-card-solo {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.branch-title-solo {
  font-size: 24px;
}

.branch-title {
  font-size: 20px;
}

.branch-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.branch-card-main {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.branch-card-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.branch-card-text {
  color: var(--font-aux);
}

.branch-card-block {
  display: flex;
  flex-direction: column;
}

#branch-page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  border-radius: 10px;
  padding: 25px 40px;
  box-shadow: var(--soft-shadow);
  background-color: var(--layer);
}

.branch-main {
  display: flex;
  justify-content: space-between;
}

/* employee */

.employee-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employee-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 25px 40px;
  box-shadow: var(--soft-shadow);
  background-color: var(--layer);
}

.employee-info {
  display: flex;
  flex-direction: column;
  color: var(--font-aux);
}