#routes-page-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#routes-wrapper{
  display: flex;
  gap: 30px;
}

.card-text-link{
  font-size: 18px;
  font-weight: bold;
}

.card-text-link:hover{
  text-decoration: underline;
}

/* summary */

.loaders-summary-wrapper {
  display: flex;
  justify-content: space-around;
}

.loaders-summary-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary-and-download {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.day-summary-card {
  background-color: var(--layer);
  padding: 15px;
  box-shadow: var(--soft-shadow);
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary-routes-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.summary-route-card {
  background-color: var(--bg);
  padding: 10px 15px;
  box-shadow: var(--soft-shadow);
  border-radius: 10px;
}