#route-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#route-days-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.route-header {
  display: flex;
  align-items: center;
  gap: 100px;
}

.route-filter-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.day-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--outline-shadow);
  padding: 10px;
  background-color: var(--layer);
  border-radius: 5px;
}

.day-title {
  font-size: 18px;
}

.day-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  background-color: #242424;
}

.day-summary-block {
  display: flex;
  flex-direction: column;
}

.day-loader {
  font-size: 14px;
  margin-left: 10px;
}

.day-feedback {
  font-size: 14px;
  margin-left: 10px;
}

/* card */

.route-card{
  width: 300px;
}

.route-card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-created{
  font-size: 12px;
  color: #737373;
}

/* loader */

.loaders-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loader-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader-info-heading {
  font-size: 18px;
}